body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






/* Nav Bar */
.nav{
  width: 100%;
  height: 70px;
  background-color: black;
}

#nav-logo{
  width: 4%;
  height: 3pc;
  position: absolute;
  left: 23%;
  top: 10px;
}

.nav-span{
  color: white;
  position: absolute;
  left: 30%;
  top: 20px;
  font-size: larger;
}